@page "/"

<PageTitle>Index</PageTitle>

<h1>@Mensagem</h1>
<h2>Saudacao()</h2>

<button @onclick="AtualizaMensagem">Atualizar Mensagem</button>

<input @bind="@Mensagem" />

@code {

    public string Mensagem { get; set; } = "Ola Bruce";

    private string Suadacao()
    {
        return "Bem vindo, ao Blazor";
    }

    private void AtualizaMensagem()
    {
        Mensagem = "Olá Blazor, tudo bem?";
    }
}